<h1>New Compliment</h1>
<%= form_with model: @compliment, local: true do |form| %>
  <div class="form-group">
    <%= form.label :message %>
    <%= form.text_field :message, class: "form-control" %>
  </div>
  <%= form.submit "Save", class: "btn btn-success" %>
<% end %>
